@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin-top: 40px;
  text-align: center;
}

@layer base {
  html,
  body {
    @apply bg-white dark:bg-gray-800 dark:text-white w-full h-full m-0 p-0 overflow-auto
  }

  #root {
    @apply w-full max-w-full pt-10 px-0 md:px-10
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
